/*
  Kashev Dalmia
  kashev.dalmia@gmail.com

  Everyone Needs to Wake Up
  A Project for ARTD 313 @ UIUC, Sp 2014
  proj1b - dalmia3

  main.scss
*/

/* IMPORT BOURBON, NEAT SASS LIBRARY */
@import "bourbon/bourbon";
@import "neat/neat";

/* CSS RESET */
// @import "reset.css";

/* COLOR PALLETTE */
$almost-black: #111;
$grey: #BBB;
$white: #FFF;

$font-stack:   Lato, Helvetica, sans-serif;

/* SLIDE VARIABLES */
$slide_width     : 90%;
$slide_height    : 90%;
$slide_lr_border : (100% - $slide_width ) / 2;
$slide_tb_border : (100% - $slide_height) / 2;
$change_time     : 0.7s;

html body {
  font-family: $font-stack;
  color: $almost-black;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

p {
  text-align: justify;
}

h1 {
  //TODO
}

.mono {
  font-family: "Courier New", monospace;
}

/* NAV BUTTONS */
.nav {
  height : 100%;
  width  : $slide_lr_border;
  position: fixed;
  top: 0;
  bottom: 0;
  vertical-align: middle;
  text-align: center;
  line-height: 100%;
  font-size: 80px;
  z-index: 1;
  background-color: $grey;
  display: table;
  overflow: hidden;
}

.nav:hover {
  background-color: darken($grey, 20%);
}

.center {
  display: table-cell;
  vertical-align: middle;
}

#forward {
  right: 0;
}

#back {
  left: 0;
}

/* BESPOKE CLASSES */
.bespoke-parent {
  position: fixed;
  height: 100%;
  width: 100%;
  background: $grey;
  overflow: hidden;
}

.bespoke-slide {
  text-align: center;
  background: $white;

  position: absolute;
  width: $slide_width;
  height: $slide_height;
  left: $slide_lr_border;
  right: $slide_lr_border;
  top: $slide_tb_border;
  bottom: $slide_tb_border;
  overflow: hidden;
  
  @include transition-duration($change_time);
}

.bespoke-active {
  @include transform(translateX(0));
}

.bespoke-inactive {
  @include transform(translateX(110%));
}

.bespoke-before {
  @include transform(translateX(-110%));
  visibility: hidden;
}

.bespoke-after {
  @include transform(translateX(110%));
  visibility: hidden;
}

/* BESPOKE BULLETS */

.bespoke-bullet-active {
  visibility: visible;
}

.bespoke-bullet-inactive {
  visibility: hidden;
}

.bespoke-bullet {
  text-align: left;
}