/*
  Kashev Dalmia
  kashev.dalmia@gmail.com

  Everyone Needs to Wake Up
  A Project for ARTD 313 @ UIUC, Sp 2014
  proj1b - dalmia3

  main.scss
*/

/* IMPORT BOURBON, NEAT SASS LIBRARY */
@import "bourbon/bourbon";
@import "neat/neat";

/* COLOR PALLETTE */
/* https://kuler.adobe.com/Imagine-color-theme-3389921/ */
$black  : #282828;
$medium : #3C3C3C;
$grey   : #505050;
$teal   : #3EB596;
$white  : #E0E0E0;

$font-stack : Lato, Helvetica, sans-serif;

/* SLIDE VARIABLES */
$slide_width     : 90%;
$slide_height    : 90%;
$slide_lr_border : (100% - $slide_width ) / 2;
$slide_tb_border : (100% - $slide_height) / 2;
$change_time     : 0.7s;

/* STANDARD TAG STYLES */

html body {
  font-family: $font-stack;
  color: $black;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  background: $white;

  font-size: 62.5%; // makes default font size 10px, for easy math
}

p {
  text-align: justify;
  font-size: 1.2rem;
  margin : 2%;
  overflow: auto;
}

h1 {
  font-size: 3.6rem;
  font-weight: bold;
  margin : 2%;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.6rem;
}

em {
  font-style: italic;
}

img {
  max-height : 90%;
  max-width  : 90%;
}

a:link    { color: $teal; }  /* unvisited link  */
a:visited { color: darken($teal, 20%); }  /* visited link    */

blockquote {
  display:block;
  background: $medium;
  color: $white;
  padding: 15px 20px 15px 45px;
  margin: 2%;
  position: relative;
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 3.2rem;
  text-align: left;
  
  /*Borders - (Optional)*/
  border-left: 15px solid $teal;
  border-right: 2px solid $teal;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: "Playfair Display", serif;
  font-size: 6.5rem;
  color: $teal;
  
  /*Positioning*/
  position: absolute;
  left: 0.1rem;
  top: -2.0rem;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote em{
  font-style: italic;
}

li {
  font-size: 1.2rem;
  line-height: 2.0rem;
}

ul.big li {
  font-size: 1.6rem; 
}

li li {
  font-size: 0.9em;
  padding-left : 1.0rem;
}

/* SPECIAL CLASSES */
.center {
  display: table-cell;
  vertical-align: middle;
}

.bottom {
  position: absolute;
  bottom: 1%;
  width: 100%;
  text-align: center;
}

.mono {
  font-family: "Courier New", monospace;
}

.teal {
  color: $teal;
}

/* NAV BUTTONS */
.nav {
  height : 100%;
  width  : $slide_lr_border;
  position: fixed;
  top: 0;
  bottom: 0;
  vertical-align: middle;
  text-align: center;
  line-height: 100%;
  font-size: 80px;
  z-index: 1;
  background-color: $white;
  display: table;
  overflow: hidden;
}

.nav:hover {
  background-color: darken($white, 20%);
}

#forward {
  right: 0;
}

#back {
  left: 0;
}

/* GRID CSS */
// default grid is 12
.grid {
  @include outer-container;
  max-width: 90%;
  max-height: 90%;
  .half {
    @include span-columns(6);
  }
  .third {
    @include span-columns(4);
  }
  .two-thirds {
    @include span-columns(8);
  }
}


/* BESPOKE CLASSES */
.bespoke-parent {
  position: fixed;
  height: 100%;
  width: 100%;
  background: $white;
  overflow: hidden;
}

.bespoke-slide {
  text-align: center;
  background: $white;

  position: absolute;
  width: $slide_width;
  height: $slide_height;
  left: $slide_lr_border;
  right: $slide_lr_border;
  top: $slide_tb_border;
  bottom: $slide_tb_border;
  overflow: hidden;
  
  @include transition-duration($change_time);
}

.bespoke-active {
  @include transform(translateX(0));
}

.bespoke-inactive {
  @include transform(translateX(110%));
}

.bespoke-before {
  @include transform(translateX(-110%));
  visibility: hidden;
}

.bespoke-after {
  @include transform(translateX(110%));
  visibility: hidden;
}

/* BESPOKE BULLETS */

.bespoke-bullet-active {
  opacity: 1.0;
}

.bespoke-bullet-inactive {
  opacity: 0.0;
}

.bespoke-bullet {
  text-align: left;
  transition: opacity 200ms;
}
