/*
  Kashev Dalmia
  kashev.dalmia@gmail.com

  Everyone Needs to Wake Up
  A Project for ARTD 313 @ UIUC, Sp 2014
  proj1b - dalmia3

  main.scss
*/

/* IMPORT BOURBON SASS LIBRARY */
@import 'bourbon/bourbon';

/* SOLARIZED COLORS */
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

$font-stack:   Helvetica, sans-serif;
$text-color:   #333;
$slide_width:  100%;
$slide_height: 100%;

body {
  font-family: $font-stack;
  color: $orange;
  width: $slide_width;
  height: $slide_height;
  position: relative;
}
/* BESPOKE CLASSES */
.bespoke-parent {
  width: $slide_width;
  height: $slide_height;
  position: relative;
  @include perspective(600px);
  background-color: $base00;
}

.bespoke-slide {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: $slide_width;
  height: $slide_height;
  @include transform-style(preserve-3d);
  @include backface-visibility(hidden);
  @include transition-duration(1.0s);
  background-color: $base00;
}

.bespoke-active {
  @include transform(rotateY(0deg));
  height: $slide_height;

}

.bespoke-inactive {
  @include transform(rotateY(180deg));
}

.bespoke-before {
  @include transform(rotateY(-180deg));
}

.bespoke-after {
  @include transform(rotateY(180deg));
}

.bespoke-scale-parent {
  perspective: 600px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
